<h3>Name<h3>

<p><%= @user.name %></p><br>

<ul>
  <% @user.events.all.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event_path(event) %><br>
      location: <%= event.location %><br>
      date: <%= event.date %>
    </li>
  <% end %>
</ul>