<p>List of upcoming events</p>

<ul><% @upcoming_events.each do |event| %>
  <li><%= link_to "#{event.title}", event_path(event) %></li>
<% end %></ul>


<p>List of previous events</p>

<ul><% @previous_events.each do |event| %>
  <li><%= link_to "#{event.title}", event_path(event) %></li>
<% end %></ul>